header{
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: steelblue;
}
h1{
  margin: 0;
}

main{
  min-height: 70vh;
}

.block{
  display: block;
  margin: 0;
  padding: 0;
}

a{
  color: hsl(197, 74%, 45%);
  &:visited{
    color: hsl(197, 74%, 45%);
  }
  &:hover{
    color: hsl(197, 74%, 50%);
  }
  &:active{
    color: hsl(197, 74%, 42%);
  }
}

button{
  background-color: hsl(207, 44%, 49%);
  color: #eee;
  margin-right: 10px;
  &:hover{
    background-color: hsl(207, 44%, 57%);
  }
  &:active{
    background-color: hsl(207, 44%, 40%);
  }
  &:disabled{
    background-color: hsl(207, 20%, 49%);
  }
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.input-card{
  width: 500px;
  max-width: 95vw;
  word-break: break-all;
  margin-top: 50px;
  input,textarea{
    background-color: #333;
    color: #eee;
    min-height: 120px;
  }
  textarea{
    width: 100%;
    resize: vertical;
    font-size: 1.1rem;

  }
}

footer{
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: steelblue;
  color: #eee;
  a{
    color: white;
  }
}


@media (max-width:700px){
  .input-card{

  }
}
