<header class="block">
  <h1>Easy Base64 Encoder/Decoder</h1>
</header>

<div class="block">
  <div class="flex-container">


    <div class="input-card">
      <!-- Title -->
      <div class="block">
        <div class="rectangleTitle">
          <span class="titleText">Codificar</span>
        </div>
      </div>

      <div class="block">
        <div class="inputContainer">
          <fieldset>
            <legend> Texto a codificar </legend>
            <textarea #inputEncodeTextArea (input)="encodeText(inputEncodeTextArea.value)"></textarea>
          </fieldset>
        </div>
      </div>

      <div class="block">
        <div class="inputContainer">
          <fieldset>
            <legend>Resultado</legend>
            <div>{{encodedText}}</div>
          </fieldset>
        </div>
      </div>

      <div class="block">
        <button (click)="copyText(encodedText)" [disabled]='encodedText=="" ? true : false '>Copiar resultado</button>
        <button (click)="restartEncoded();inputEncodeTextArea.value='';">Reiniciar entrada</button>
      </div>
    </div>

    <div class="input-card">
      <!-- Title -->
      <div class="block">
        <div class="rectangleTitle">
          <span class="titleText">Decodificar</span>
        </div>
      </div>

      <div class="block">
        <div class="inputContainer">
          <fieldset>
            <legend> Texto a decodificar </legend>
            <textarea #inputDecodeTextArea (input)="decodeText(inputDecodeTextArea.value)"></textarea>
          </fieldset>
        </div>
      </div>

      <div class="block">
        <div class="inputContainer">
          <fieldset>
            <legend>Resultado</legend>
            <div>{{decodedText}}</div>
          </fieldset>
        </div>
      </div>

      <div class="block">
        <button (click)="copyText(decodedText)" [disabled]='decodedText=="" ? true : false '>Copiar resultado</button>
        <button (click)="restartDecoded();inputDecodeTextArea.value='';">Reiniciar entrada</button>
      </div>

    </div>

  </div>
</div>

<footer>
  <div>
    <a href="https://github.com/EdisMR" target="_blank">@Edis MR</a>
  </div>
</footer>
